---
http:
  routers:
    to-sonarqube:
      rule: "Host(`sonarqube.korporate.org`)"
      service: sonarqube
      middlewares:
        - "chain-no-auth"

  services:
    sonarqube:
      loadBalancer:
        servers:
          - url: http://{{ hostvars['sonarqube']['ansible_'+network_interface]['ipv4']['address'] }}:{{ sonnarqube_port }}
