CONSUL_HTTP_TOKEN={{ consul_http_token.stdout }}
CONSUL_HTTP_ADDR={{ consul_http_addr.stdout }}
CONSUL_CACERT={{ consul_config_dir }}/tls/consul-agent-ca.pem
CONSUL_CLIENT_CERT={{ consul_config_dir }}/tls/consul-agent.pem
CONSUL_CLIENT_KEY={{ consul_config_dir }}/tls/consul-agent-key.pem
CONSUL_TLS_SERVER_NAME={{ inventory_hostname }}.dc1.consul
VAULT_ADDR=http://{{ hostvars[inventory_hostname]['ansible_'+vault_network_interface]['ipv4']['address'] }}:{{ vault_api_port }}
