[Unit]
Description=Désèlage automatique de HashiCorp Vault
Requires=vault.service
After=vault.service
PartOf=vault.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vault_unseal
User=root
Group=root

[Install]
WantedBy=vault.service