#!/bin/bash

# Définir l'adresse de Vault si nécessaire
export VAULT_ADDR='https://127.0.0.1:8200'
export VAULT_CACERT='/etc/consul.d/tls/consul-agent-ca.pem'

# Vérifier si Vault est initialisé et déverrouillé
if ! vault status > /dev/null 2>&1; then
  echo "Vault n'est pas initialisé ou est scellé."
  exit 1
fi

# Extraire le mode HA
HAMODE=$(vault status | grep 'HA Mode' | awk '{print $3}')

# Vérifier si le nœud est actif
if [ "$HAMODE" == "active" ]; then
  exit 0  # Santé OK
else
  exit 1  # Santé Échouée
fi
