.DS_Store
.vagrant
.ansible
.vscode
*.crt
*.key
*.retry
*.zip
ansible/playbooks/roles/vault-bootstrap/files/LICENSE*
ansible/playbooks/roles/vault-bootstrap/files/vaul*
ansible/playbooks/roles/consul-template/files/LICENSE*
ansible/playbooks/roles/consul-template/files/consul*