---
http:
  routers:
    to-myapp:
      rule: "Host(`myapp.korporate.org`)"
      service: myapp
      middlewares:
        - "chain-no-auth"

  services:
    myapp:
      loadBalancer:
        servers:
          - url: https://{{ hostvars['staging']['ansible_'+network_interface]['ipv4']['address'] }}:{{ argocd_cd_staging_port }}
