---
http:
  routers:
    to-boundary:
      rule: "Host(`sentry.korporate.org`)"
      service: boundary
      middlewares:
        - "chain-no-auth"

  services:
    boundary:
      loadBalancer:
        servers:
          - url: http://{{ hostvars['sentry']['ansible_'+network_interface]['ipv4']['address'] }}:{{ sentry_port }}
