---
http:
  routers:
    to-consul:
      rule: "Host(`consul.korporate.org`)"
      service: consul
      middlewares:
        - "chain-no-auth"
    to-consul-secure:
      rule: "Host(`consul.korporate.org`)"
      service: consul
      middlewares:
        - "chain-no-auth"
      tls:
        certResolver: letsencrypt

  services:
    consul:
      loadBalancer:
        servers:
          - url: https://{{ hostvars['consul-1']['ansible_'+network_interface]['ipv4']['address'] }}:{{ consul_port }}
          - url: https://{{ hostvars['consul-2']['ansible_'+network_interface]['ipv4']['address'] }}:{{ consul_port }}
          - url: https://{{ hostvars['consul-3']['ansible_'+network_interface]['ipv4']['address'] }}:{{ consul_port }}