---
http:
  routers:
    to-grafana:
      rule: "Host(`grafana.korporate.org`)"
      service: grafana
      middlewares:
        - "chain-no-auth"

  services:
    grafana:
      loadBalancer:
        servers:
          - url: http://https://{{ hostvars['grafana']['ansible_'+network_interface]['ipv4']['address'] }}:{{ grafane_port }}
