---
http:
  routers:
    to-influxdb:
      rule: "Host(`influxdb.korporate.org`)"
      service: influxdb
      middlewares:
        - "chain-no-auth"

  services:
    influxdb:
      loadBalancer:
        servers:
          - url: http://{{ hostvars['influxdb']['ansible_'+network_interface]['ipv4']['address'] }}:{{ influxdb_port }}
