---
http:
  routers:
    to-staging:
      rule: "Host(`staging.korporate.org`)"
      service: staging
      middlewares:
        - "chain-no-auth"

  services:
    staging:
      loadBalancer:
        servers:
          - url: https://{{ hostvars['staging']['ansible_'+network_interface]['ipv4']['address'] }}:{{ kube_staging_port }}
