---
http:
  routers:
    to-prometheus:
      rule: "Host(`prometheus.korporate.org`)"
      service: prometheus
      middlewares:
        - "chain-no-auth"

  services:
    prometheus:
      loadBalancer:
        servers:
          - url: http://{{ hostvars['prometheus']['ansible_'+network_interface]['ipv4']['address'] }}:{{ prometheus_port }}
