---
http:
  routers:
    to-rancher-runners:
      rule: "Host(`rancher-runners.korporate.org`)"
      service: rancher-runners
      middlewares:
        - "chain-no-auth"

  services:
    rancher-runners:
      loadBalancer:
        servers:
          - url: https://{{ hostvars['runners']['ansible_'+network_interface]['ipv4']['address'] }}:{{ rancher_runners_port }}
