---
http:
  routers:
    to-teleport:
      rule: "Host(`*.teleport.korporate.org`)"
      service: teleport
      middlewares:
        - "chain-no-auth"

  services:
    teleport:
      loadBalancer:
        servers:
          - url: https://{{ hostvars['teleport']['ansible_'+network_interface]['ipv4']['address'] }}:{{ teleport_port }}
