## ACL
acl {
  enabled        = true
  # default_policy = "allow"
  default_policy = "deny"
  enable_token_persistence = true
  tokens {
    agent = "{{ hostvars[inventory_hostname]['agent_token_fact'] }}"
  }
}