{% set comma = joiner(",") %}
# -----------------------------+
# consul.hcl                   |
# -----------------------------+

server = {{ (consul_mode == 'server')|lower }}
datacenter = "{{ consul_dc_name }}"
domain = "consul"
node_name = "{{ inventory_hostname|regex_replace("\.", "_") }}"

# Logging
log_level = "DEBUG"
enable_syslog = true

# Data persistence
data_dir = "{{ consul_data_dir }}"

encrypt = "{{ gossip.stdout }}"

## Networking
client_addr = "0.0.0.0"
bind_addr   = "{{ ansible_default_ipv4.address }}"

enable_central_service_config = true

# Join other Consul agents
retry_join = [
    {%- for host in consul_ansible_bootstrap_group -%}
    {{ comma() }}"{{ hostvars[host]['ansible_'+consul_network_interface]['ipv4']['address'] }}"
    {%- endfor -%}
    ]

# Ports
ports {
  http        = 8500
  #http       = -1
  https       = 8443
  grpc        = 8002
  #grpc       = -1
  grpc_tls    = 8503
  dns         = 53
}

addresses {
  grpc     = "127.0.0.1"
  grpc_tls = "0.0.0.0"
  http     = "127.0.0.1"
  https    = "0.0.0.0"
  dns      = "127.0.0.1"
}

# Enable Consul service mesh
connect {
  enabled = true
}

## Disable script checks
enable_script_checks = false
## Enable local script checks
enable_local_script_checks = true
## Enable central service config
enable_central_service_config = true
## Disable Remote exec
disable_remote_exec = true

# TLS configuration
tls {
  defaults {
    verify_incoming = true
    verify_outgoing = true
    verify_server_hostname = true
    ca_file   = "{{ consul_config_dir }}/tls/consul-agent-ca.pem"
    cert_file = "{{ consul_config_dir }}/tls/consul-agent.pem"
    key_file  = "{{ consul_config_dir }}/tls/consul-agent-key.pem"
  }
  https {
    verify_incoming = false     # N'exige pas de certificat client pour les connexions HTTPS
  }
  grpc {
    verify_incoming = false     # Si vous utilisez gRPC, ajustez également ce paramètre
  }
  internal_rpc {
    verify_server_hostname = true
  }
}

#auto_encrypt {
#  tls = true
#  tls_san = ["{{ inventory_hostname }}.dc1.consul", "{{ hostvars[inventory_hostname]['ansible_'+consul_network_interface]['ipv4']['address'] }}"]
#}