# Put here options for consul agent start
#
CONSUL_CONFIG_DIR="{{ consul_config_dir }}"

CONSUL_CONFIG_FILE="{{ consul_config_file }}"

CONSUL_ENV_FILE="{{ consul_env_file }}"

CONSUL_CONF_DIR="-config-dir={{ consul_config_dir }}"

CONSUL_BIND="-bind={{ ansible_default_ipv4.address }}"

CONSUL_DATA_DIR="-data-dir={{ consul_data_dir }}"

