# -----------------------------+
# agent-server-connect-ca.hcl  |
# -----------------------------+

## Service mesh CA configuration
connect {
  ca_provider = "consul"
  ca_config {
      ## Default TTL 72h, minimum TTL 1h
      leaf_cert_ttl = "72h"
      ## Default period 2160h, minimum period 1h
      rotation_period = "2160h"
      ## Default TTL 8760h, minimum TTL 3h
      intermediate_cert_ttl = "8760h"
  }
}