{% set comma = joiner(",") %}
# -----------------------------+
# agent-server-networking.hcl  |
# -----------------------------+

# Enable service mesh
connect {
  enabled = true
}

# Addresses and ports
client_addr = "0.0.0.0"
bind_addr   = "{{ ansible_default_ipv4.address }}"

addresses {
  grpc     = "0.0.0.0"
  grpc_tls = "0.0.0.0"
  http     = "0.0.0.0"
  https    = "0.0.0.0"
  dns      = "127.0.0.1"
}

ports {
  #http        = -1
  http        = 8500
  https       = 8443
  grpc        = 8502
  #grpc        = -1
  grpc_tls    = 8503
  dns         = 8600
}

# Join other Consul agents
retry_join = [
    {%- for host in consul_ansible_bootstrap_group -%}
    {{ comma() }}"{{ hostvars[host]['ansible_'+consul_network_interface]['ipv4']['address'] }}"
    {%- endfor -%}
]

# DNS Configuration
dns_config {
  allow_stale = true
  enable_truncate = true
}

# DNS recursors
recursors = [ "1.1.1.1" ]