# -----------------------------+
# agent-server-connect-ca.hcl  |
# -----------------------------+

## Service mesh CA configuration
connect {
  ca_provider = "consul"
  ca_config {
    leaf_cert_ttl        = "72h"
    rotation_period       = "2160h"
    intermediate_cert_ttl = "8760h"

    # Contenu du certificat racine
    root_cert_pem = "{{ root_cert.content | b64decode }}"

    private_key_pem = "{{ private_key.content | b64decode }}"
  }

  verify_incoming        = true
  verify_outgoing        = true
  verify_server_hostname = true

  auto_encrypt {
    tls = true
  }

  proxy {
    default_envoy_log_level = "info"
    allow_missing_proxy     = false
  }
}