# -----------------------------+
# agent-server-connect-ca.hcl  |
# -----------------------------+

## Service mesh CA configuration
connect {
  ca_provider = "consul"
  ca_config {
    leaf_cert_ttl        = "72h"
    rotation_period       = "2160h"
    intermediate_cert_ttl = "8760h"

    # Contenu du certificat racine
    root_cert_pem = <<EOF
{{ root_cert.content | b64decode }}
EOF

    private_key_pem = <<EOF
{{ private_key.content | b64decode }}
EOF
  }
}