# consul-template-config.hcl.j2

vault {
  address = "{{ vault_addr }}"
  ca_file = "{{ vault_tls_directory }}/{{ vault_tls_ca_cert_file }}"

  auth_method = "approle"
  approle {
    role_id_file_path   = "/etc/consul-template/approle/role_id"
    secret_id_file_path = "/etc/consul-template/approle/secret_id"
  }
}

template {
  source      = "{{ consul_template_templates_dir }}/service_cert.tpl"
  destination = "{{ consul_tls_directory }}/{{ dns_name }}.pem"
  command     = "systemctl reload {{ service_name }}"
}
