pid_file = "/var/run/vault-agent.pid"

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path = "/etc/vault.d/role_id"
      secret_id_file_path = "/etc/vault.d/secret_id"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "/etc/vault.d/agent-token"
    }
  }
}

cache {
  use_auto_auth_token = true
}

template {
  source      = "/etc/consul-template/templates/service_cert.tpl"
  destination = "/etc/consul-template/tls/consul-agent.pem"
  command     = "systemctl restart consul"
}