# -----------------------------+
# agent-acl.hcl                |
# -----------------------------+

## ACL configuration
acl = {
  tokens {
    default = "{{ hostvars[inventory_hostname]['consul_agent_token'] }}"
  }
}