[Unit]
Description=Consul Template
Documentation=https://github.com/hashicorp/consul-template
After=network.target

[Service]
ExecStart=/bin/bash {{ consul_template_script_dir }}/{{ consul_template_start_script_file }} "
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=consul
Group=consul
Restart=on-failure

[Install]
WantedBy=multi-user.target