CONSUL_HTTP_TOKEN={{ hostvars[inventory_hostname]['agent_token_fact'] }}
CONSUL_HTTP_ADDR=https://127.0.0.1:8443
CONSUL_CACERT={{ consul_config_dir }}/tls/consul-agent-ca.pem
CONSUL_CLIENT_CERT={{ consul_config_dir }}/tls/consul-agent.pem
CONSUL_CLIENT_KEY={{ consul_config_dir }}/tls/consul-agent-key.pem
CONSUL_TLS_SERVER_NAME={{ inventory_hostname }}.dc1.consul
VAULT_ADDR=https://{{ hostvars['vault-1']['ansible_'+consul_network_interface]['ipv4']['address'] }}:8200
VAULT_CACERT={{ consul_tls_directory }}/{{ consul_tls_ca_file }}