{% set comma = joiner(",") %}
{
    "server": {{ (consul_mode == 'server')|lower }},
    "datacenter": "{{ consul_dc_name }}",
    "data_dir": "{{ consul_data_dir }}",
    "log_level": "INFO",
    "enable_syslog": true,
    "disable_remote_exec": true,
    "enable_script_checks": false,
    "enable_local_script_checks": true,

    "encrypt": "{{ gossip.stdout }}",
    "addresses": {
    "https" : "0.0.0.0"
    },
    "ports": {
        "https" : 8501
    },
    "tls" : {
        "defaults": {
          "ca_file": "/etc/consul.d/tls/consul-agent-ca.pem",
          "cert_file": "/etc/consul.d/tls/consul-agent.pem",
          "key_file": "/etc/consul.d/tls/consul-agent-key.pem",
          "tls_min_version": "TLSv1_2",
          "verify_incoming": true,
          "verify_outgoing": true
        },
        "https": {
            "verify_incoming": false
        },
        "internal_rpc": {
            "verify_incoming": true,
            "verify_server_hostname": true
        }
    },
    "translate_wan_addrs": false,
    "connect": {
        "enabled": true
    },
    "auto_encrypt" : {
        "allow_tls" : false
    },
    "retry_join": [
    {%- for host in consul_ansible_bootstrap_group -%}
    {{ comma() }}"{{ hostvars[host]['ansible_'+consul_network_interface]['ipv4']['address'] }}"
    {%- endfor -%}
    ],
    "ui_config": {
        "enabled": true
    }
}