CONSUL_HTTP_TOKEN={{ hostvars['consul-1']['consul_http_token_fact'] }}
CONSUL_HTTP_ADDR=http://{{ hostvars['consul-1']['ansible_'+consul_network_interface]['ipv4']['address'] }}:8500
CONSUL_CACERT={{ consul_config_dir }}/tls/consul-agent-ca.pem
CONSUL_CLIENT_CERT={{ consul_config_dir }}/tls/consul-agent.pem
CONSUL_CLIENT_KEY={{ consul_config_dir }}/tls/consul-agent-key.pem
CONSUL_TLS_SERVER_NAME={{ inventory_hostname }}.dc1.consul
VAULT_ADDR=http://{{ hostvars['vault-1']['ansible_'+consul_network_interface]['ipv4']['address'] }}:8200