# -----------------------------+
# agent-server-specific.hcl    |
# -----------------------------+

## Server specific configuration for dc1
datacenter = "dc1"
domain = "consul"
node_name = "$(hostname)"
server = true
bootstrap_expect = 3