# -----------------------------+
# consul.hcl                   |
# -----------------------------+

datacenter = "{{ consul_dc_name }}"
domain = "consul"
node_name = "{{ ansible_hostname }}"
server = {{ (consul_mode == 'server')|lower }}
bootstrap_expect = 3

# Data Persistence
data_dir = "{{ consul_data_dir }}/data"

# Logging
log_level = "DEBUG"
enable_syslog = true
log_json = true

## Disable script checks
enable_script_checks = false

## Enable local script checks
enable_local_script_checks = true