vault {
  address = "{{ vault_addr }}"
  ca_file = "{{ vault_tls_directory }}/{{ vault_tls_ca_cert_file }}"
  token_file = "{{ vault_token_file }}"
}

template {
  source      = "{{ consul_template_templates_dir }}/server-cert.ctmpl"
  destination = "{{ consul_tls_directory }}/{{ consul_tls_cert_file }}"
  perms       = 0644
  command     = "systemctl reload consul"
}

template {
  source      = "{{ consul_template_templates_dir }}/server-key.ctmpl"
  destination = "{{ consul_tls_directory }}/{{ consul_tls_key_file }}"
  perms       = 0640
  command     = "systemctl reload consul"
}

template {
  source      = "{{ consul_template_templates_dir }}/server-ca.ctmpl"
  destination = "{{ consul_tls_directory }}/{{ consul_tls_ca_cert_file }}"
  perms       = 0644
  command     = "systemctl reload consul"
}