[Unit]
Description=Consul Template
Documentation=https://github.com/hashicorp/consul-template
After=network.target vault-agent.service

[Service]
ExecStart=/usr/local/bin/consul-template -config=/etc/consul-template/config.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
User=root
Group=consul
Restart=on-failure

[Install]
WantedBy=multi-user.target