pid_file = "/var/run/vault-agent.pid"

listener "tcp" {
  address       = "127.0.0.1:8200"
  tls_ca_file   = "{{ consul_tls_directory }}/{{ consul_tls_ca_file }}"
  tls_cert_file = "{{ consul_tls_directory }}/{{ consul_tls_cert_file }}"
  tls_key_file  = "{{ consul_tls_directory }}/{{ consul_tls_key_file }}"
  tls_disable   = false
}

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path = "{{ role_id_file_path }}"
      secret_id_file_path = "{{ secret_id_file_path }}"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "{{ sink_path }}"
    }
  }
}

cache {
  use_auto_auth_token = true
}

proxy {
  upstreams = [
    {
      destination = "{{ vault_principal_addr }}"  # Adresse de votre serveur Vault principal
      prefix      = "/"
    }
  ]
}

template_config {
  static_secret_render_interval = "10m"
  exit_on_retry_failure = true
  max_connections_per_host = 20
}

template {
  source      = "{{ vault_agent_templates_dir }}/consul-cert.ctmpl"
  destination = "{{ consul_tls_tmp_directory }}/{{ consul_tls_cert_file }}"
  perms       = 0750
  command     = "chown -R root:consul {{ consul_tls_tmp_directory }}/*; systemctl reload consul"
}

template {
  source      = "{{ vault_agent_templates_dir }}/consul-key.ctmpl"
  destination = "{{ consul_tls_tmp_directory }}/{{ consul_tls_key_file }}"
  perms       = 0750
  command     = "chown -R root:consul {{ consul_tls_tmp_directory }}/*; systemctl reload consul"
}

template {
  source      = "{{ vault_agent_templates_dir }}/consul-ca.ctmpl"
  destination = "{{ consul_tls_tmp_directory }}/{{ consul_tls_ca_file }}"
  perms       = 0750
  command     = "chown -R root:consul {{ consul_tls_tmp_directory }}/*; systemctl reload consul"
}