{{ '{{' }} with secret "pki/issue/consul-tls" "common_name={{ inventory_hostname }}.consul" "ip_sans={{ ansible_host }}" "ttl=10m" {{ '}}' }}
{{ '{{' }} .Data.private_key {{ '}}' }}
{{ '{{' }} end {{ '}}' }}