pid_file = "/var/run/vault-agent.pid"

auto_auth {
  method "approle" {
    mount_path = "auth/approle"
    config = {
      role_id_file_path = "{{ role_id_file_path }}"
      secret_id_file_path = "{{ secret_id_file_path }}"
      remove_secret_id_file_after_reading = false
    }
  }

  sink "file" {
    config = {
      path = "{{ sink_path }}"
    }
  }
}

cache {
  use_auto_auth_token = true
}

template {
  source      = "/etc/consul-template/templates/service_cert.tpl"
  destination = "/etc/consul-template/tls/consul-agent.pem"
  command     = "systemctl restart consul"
}