[Unit]
Description=Vault Agent
After=network.target

[Service]
User=root
Group=root
Environment="VAULT_ADDR={{ vault_addr }}"
Environment="VAULT_CACERT={{ consul_tls_directory }}/{{ consul_tls_ca_file }}"
ExecStart=/usr/bin/vault agent -config=/etc/vault.d/vault-agent.hcl
Restart=on-failure

[Install]
WantedBy=multi-user.target